.intro {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 92px;
  padding-left: 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding-top: 88px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 540px) {
  .intro {
    padding-top: 64px;
    padding-left: 16px;
  }
}
