.place {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  grid-template-areas:
    'title website'
    'image text';
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1250px) {
  .place {
    max-width: 1250px;
    column-gap: 32px;
  }
}

@media screen and (max-width: 1020px) {
  .place {
    max-width: 1020px;
    column-gap: 28px;
  }
}

@media screen and (max-width: 690px) {
  .place {
    max-width: 690px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }
}
